<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Produkty - aplikacja</title>
    </head>
    <body>
        <header>
            <h1>Hurtownia Januszex sp. z.o.o.</h1>
        </header>
        <section>
            <p>Witamy w bazie danych naszych produktów!</p>
            <p>Wybierz kategorię:</p>
            <ul>
                <li><a th:href="@{/lista}" href="#">Wszystkie produkty</a></li>
                <li th:each="category: ${categories}">
                    <a th:text="${category.namePl}" th:href="@{|/lista?kategoria=${category.namePl}|}" href="#">
                        Testowa kategoria 1
                    </a>
                </li>
                <li th:remove="all">
                    <a href="#">
                        Testowa kategoria 2
                    </a>
                </li>
                <li th:remove="all">
                    <a href="#">
                        Testowa kategoria 3
                    </a>
                </li>
            </ul>
        </section>
    </body>
</html>